$content-width: 800px;
$main: #0066FF;
$font-style: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-color: #333;
$link-color: #0066FF;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #1D1425;

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
