body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}

h1,h2,h3 {
	font-weight: 600;
	font-family: $heading-font;
	line-height: 1.5;
}

h1 {
	color: $main;
	font-size: 2.5em;

	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}

h2 {
	font-size: 2em;
}

a,
a:visited {
	color: $link-color;
	font-weight: bold;
}

a:hover {
	color: $link-hover-color;
	text-decoration: none;
}

header {
	padding: 0 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	margin: 0;
}

::selection {
	background: #000;
	color: #fff;
}

::-moz-selection {
	background: #000;
	color: #fff;
}

html {
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

body {
	margin: 0;
}

::selection {
	background: $main;
	color: #fff;
}

::-moz-selection {
	background: #000;
	color: #fff;
}

.header {
	top: 0;
	width: 100%;
	position: fixed;
	/* opacity: .9; */
	z-index: 50;
}

.header.shrink {
	height: 85px;
	background: rgba(255, 255, 255, 0.85);
}

#navigation {
	margin: 3% auto 0;
	height: 25px;
	width: 70%;
	margin: 60px auto 0;
	@include transition(all 0.3s);
}

.header.shrink #navigation {
	margin-top: 30px;
	@include transition(all 0.3s);
}

#navigation ul li {
	width: auto;
	float: left;
	display: inline;
	margin-left: 40px;
}

#navigation li a {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 500;
	font-size: 12px;
	text-align: left;
	letter-spacing: 3px;
	color: #333;
	text-decoration: none;
	text-transform: uppercase;
}

#navigation li a:hover {
	color: $link-hover-color;

}
/*  .navigation a:before {
    content: "";
    position: absolute;;
    width: 0;
    height: 3px;
		top:50%;
    left: 0;
    margin-top: -2px;
    background-color: $link-hover-color;
    -webkit-transition: all .3s cubic-bezier(.615,.19,.305,.91);
    transition: all .3s cubic-bezier(.615,.19,.305,.91);
    -webkit-transition-timing-function: cubic-bezier(.615,.19,.305,.91);
    transition-timing-function: cubic-bezier(.615,.19,.305,.91);
}
  .navigation li a:hover:before {
	width:100%;
}*/
.logo {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: left;
	text-transform: uppercase;
	width: 180px;
	height: 25px;
	float: left;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.header.shrink #logo_center {
	width: 50px;
	margin-top: -15px;
	@include transition(all 0.3s);
}

svg {
	width: 10%;
}

#logo_center {
	width: 65px;
	/* height: 126px; */
	position: fixed;
	left: 20%;
	margin-left: -50px;
	margin-top: -20px;
	@include transition(all 0.3s);
}

a {
	text-decoration: none;

}

.navigation {
	float: right;
	margin: 0 auto;
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

#hero {
	width: 70%;
	position: relative;
	margin: 250px auto 0;
}

.title {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 75px;
	line-height: 1.3em;
	text-align: left;
	color: #333;
	margin-left: -5px;
}

.subtitle {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 100px;
	text-align: left;
	color: #666;
	margin-left: -5px;
}

.line {
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}
.delay2{
		-webkit-animation-delay: 2s;
		animation-delay: 2s;
}
	.delay4{
		-webkit-animation-delay: 4s;
		animation-delay: 4s;
	}
	.delay6{
		-webkit-animation-delay: 6s;
		animation-delay: 6s;
	}
	@media screen and (min-width: 320px) and (max-width: 480px) {
		.title{
			font-size: 30px !important;
	line-height: 41px !important;
		}
		.view-link{
			text-align:center;
		}
		.cv_big{
			font-size: 30px !important;
		line-height: 45px !important;
		}
		.cv_sub{
			    font-size: 1em !important;
					line-height: 30px !important;
		}
		.skills{
			margin-top:10px;
		}
		.navigation{
			    margin-top: -15px;
		}
		body .view-link a {
		padding: 12px 95px;
	}
	body .project_info, .project_title {
    line-height: 80px;
    font-size: 12px !important;
}
  .multibrowser .browser {
		max-height:290px !important;
		margin-bottom:55px !important;
	}
	}
	@media screen and (min-width: 481px) and (max-width: 600px) {
		.title{
			font-size: 43px !important ;
	line-height: 60px !important;
		}
		.view-link{
			text-align:center;
		}
		.cv_big{
			font-size: 30px;
		line-height: 45px;
		}
		.cv_sub{
			    font-size: 1em;
					line-height: 30px;
		}
		.skills{
			margin-top:10px;
		}
		.navigation{
			    margin-top: -15px;
		}
		body .view-link a {
    padding: 12px 95px;
	}
	body .project_info, .project_title {
    line-height: 80px;
    font-size: 12px !important;
}
	}
		@media screen and (min-width: 768px) and (max-width: 1084px) {
			.title{
				font-size: 53px !important ;
		line-height: 70px !important;
			}

		}
@media screen and (max-width:768px) {
	.logo {
		width: 100px;
		height: 25px;
	}

	#header {
		width: 100%;
	}

	#navigation {
		width: 90%;
		margin: 35px auto 0;
	}

	#hero {
		width: 90%;

	}

	.title {
		font-size: 54px;
	    line-height: 65px;
	}

	#navigation ul li {
		margin-left: 40px;
	}
	footer{
		text-align: center !important;
	}
	.case-copy{
		margin: 0 30px;
	}

	.view-link {
    margin-top: 30px;
	}

}


@media only screen and (min-width :1824px) {
	.logo {
		font-size: 24px;
		width: 280px;
		height: 25px;
	}

	#navigation {
		height: 50px;
		width: 60%;
	}

	#navigation ul li {
		margin-left: 40px;
		margin-top: 5px;
	}

	#navigation li a {
		font-size: 16px;
	}

	#hero {
		width: 60%;
		margin-top: 300px;
	}

	.title {
		font-size: 100px;
		line-height: 125px;
	}
	.go-next-label{
		font-size:1.5em !important;
	}
}

#selected_work {
	width: 70%;
	position: relative;
	margin: 0 auto;
}

#works a {
	display: block;
	text-decoration: none;
	@include transition(all 0.2s ease);
}

#works:hover a {
	opacity: 0.2;
}

#works:hover .work_line:hover a:hover {
	opacity: 1;
}

.work_line,
.work_line_first {
	border-bottom: 1px solid #eee;
	width: 100%;
	height: 120px;
	animation-fill-mode: both;
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s;
}

.work_line a {
	text-decoration: none;
}

.no_border {
	border-bottom: none;
}

.selected_work_title {
	line-height: 120px;
	float: left;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-align: left;
	text-decoration: none;
	color: #666;
}

.project_title {
	line-height: 120px;
	float: left;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: left;
	text-decoration: none;
	color: $font-color;
}

.project_info {
	line-height: 120px;
	padding-left: 50%;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-align: left;
	text-decoration: none;
	color: #666;
}

.link {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
	color: $font-color;
}

.link:hover {

}
@media screen and (max-width:768px) {
	#selected_work {
		width: 90%;
		margin-top: 120px;
	}

	.work_line,
	.work_line_first {
		height: 80px;
	}

	.project_info,
	.project_title {
		line-height: 80px;
		font-size: 16px;
	}

	.selected_work_title {
		line-height: 80px;
		font-size: 16px;
	}
	#logo_center{
	left:35%;

	}
}
@media only screen and (min-width :1824px) {
	.selected_work_title {
		line-height: 160px;
		font-size: 30px;
	}

	#selected_work {
		width: 60%;
		margin-top: 380px;
	}

	.work_line,
	.work_line_first {
		height: 160px;
	}

	.project_title {
		line-height: 160px;
		font-size: 32px;
	}

	.project_info {
		line-height: 160px;
		font-size: 28px;
	}

	.link {
		font-size: 28px;
	}
}

.footer {
	max-width: 70%;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.footer_inner {
	margin-top: 120px;
	padding-bottom: 80px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	text-decoration: none;
	font-size: 14px;
	line-height: 28px;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
}

.footer_inner a {
	text-decoration: none;
	color: $font-color;
}

.footer_inner a:hover {
}

.social a {
	margin-right: 20px;
	float: left;
}

.email {
	float: right;
}
@media screen and (max-width:768px) {
	.footer {
		max-width: 90%;
	}

	.footer_inner {
		margin-top: 60px;
		padding-bottom: 80px;
	}

	.email {
		float: left;
	}
}
@media only screen and (min-width :1824px) {
	.footer {
		max-width: 60%;
	}

	.footer_inner {
		font-size: 26px;
		line-height: 38px;
		margin-top: 180px;
		margin-bottom: 20px;
	}
	.go-next-label{
		font-size:1.5em;
	}
}

body#cv_page {
	background: #fff;
}

.cv_page {
	height: 100%;
	position: relative;
	margin: 0 auto;
}

.animate_fade {
	position: absolute;
	width: calc(100vw - 140px);
	min-height: calc(100vh - 140px);
	margin: 70px;
	padding: 0;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	display: -webkit-flex;
	-webkit-align-content: center;
	-webkit-justify-content: center;
	-webkit-align-items: center;
}

.cv_big {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	color: #333;
	font-size: 3em;
	line-height: 1.5em;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	margin-top: 50px;
}

.cv_item_big {
	margin: 200px auto 0;
	max-width: 750px;
}

.cv_item {
	margin: 100px auto 0;
	width: 70%;
}

.third {
	width: 23.33%;
	padding: 1% 5%;
	float: left;
}

.section {
	color: #333;
	font-size: 0.88em;
}

.cv_title {
	display: inline-block;
	vertical-align: top;
	width: 15%;
	color: $font-color;
	text-transform: uppercase;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 14px;
	margin: 0;
}

.cv_sub {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	font-size: 1.2em;
	font-weight: 200;
	vertical-align: top;
	color: #333;
	margin-top: 40px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	line-height: 38px;
}

.cv_content {
	display: inline-block;
	vertical-align: top;
	width: 83%;
	color: #888;
	margin-top: -10px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 38px;
}

.cv_content ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.bullet li {
	list-style-position: outside;
	list-style-type: circle;
}

.cv_content .bold {
	color: #444;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
}

.cv_content .light {
	color: #bbb;
	font-size: 14px;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	line-height: 24px;
}

.footer_back {
	text-align: center;
	padding: 0 0 80px;
}

.cv_btn {
	color: $font-color;
	display: inline-block;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.cv_btn:hover {
	color: $font-color;
	text-decoration: line-through;
}

.skills {
	padding: 50px;
	margin-top: 80px;
}

.skills {
	h2 {
		text-align: center;
		font-size: 1.5em;
		margin-bottom: 50px;
	}

	h5 {
		font-size: 14px;
	}

	.row {
		border-top: 1px solid #f1f1f1;
		border-bottom: 1px solid #f1f1f1;
		padding: 50px 0;
	}

	.container {
		width: 78%;
	}
}

.resume {
	text-align: center;
	margin-top: 50px;

	a:hover {
		background: #0066ff;
		padding: 15px 100px;
		color: #fff;
		@include transition(all .2s ease-in);
		text-decoration: none;
	}

	a {
		border: 1px solid #f2f2f2;
		padding: 15px 100px;
		color: #333;
	}
}
@media screen and (max-width:768px) {
	.cv_big {
		width: 100%;
    font-size: 40px;
    line-height: 54px;
    margin-top: 150px;
    padding: 25px;
	}

	.cv_item_big {
		margin: 0 0 20px;
	}

	.cv_item {
		margin: 40px 0;
	}

	.cv_title {
		width: 100%;
		margin: 40px 0 20px;
	}

	.cv_content {
		width: 100%;
		color: #888;
		margin-top: 0;
		line-height: 32px;
	}
}
@media only screen and (min-width :1824px) {
	.cv_page {
		width: 60%;
	}

	.cv_big {
		font-size: 48px;

	}



	.cv_item {
		margin: 200px 0;
	}

	.cv_title {
		font-size: 20px;
	}

	.cv_content {
		margin-top: -10px;
		font-size: 22px;
		line-height: 48px;
	}

	.cv_content .light {
		color: #bbb;
		font-size: 22px;
		line-height: 34px;
	}

	.cv_btn {
		font-size: 20px;
	}

	.footer_back {
		padding: 0 0 140px;
	}
}

#arrows {
	position: fixed;
	width: 100%;
	margin-top: 8%;
	z-index: 999;
}

.arrow_previous {
	width: 40px;
	height: 80px;
	float: left;
	background: url("../img/arrow_previous.png") no-repeat;
	background-size: 40px 80px;
	border-top: 1px solid #eee;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

.arrow_previous:hover {
	background: url("../img/previous_text.png") no-repeat;
	background-size: 110px 80px;
	width: 110px;
	height: 80px;
}

.arrow_next {
	width: 40px;
	height: 80px;
	float: right;
	background: url("../img/arrow_next.png") no-repeat;
	background-size: 40px 80px;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-bottom: 1px solid #eee;
	-webkit-transition-duration: 0.1s;
	transition-duration: 0.1s;
}

.arrow_next:hover {
	background: url("../img/next_text.png") no-repeat;
	background-size: 110px 80px;
	width: 110px;
	height: 80px;
}

.footer_mobile {
	position: fixed;
	width: 100%;
	z-index: 1;
}

.arrows_mobile {
	position: fixed;
	bottom: 0;
	height: 50px;
	background: #fff;
	border-top: 1px solid #eee;
	width: 100%;
}

.mobile_previous {
	color: $font-color;
	display: inline-block;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
	padding: 17px 0 0 20px;
}

.mobile_next {
	color: $font-color;
	display: inline-block;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 12px;
	text-decoration: none;
	text-transform: uppercase;
	float: right;
	padding: 17px 20px 0 0;
}

#header_work {
	background: #fff;
	width: 100%;
	height: 40px;
	position: fixed;
	margin: 0 auto;
	padding-top: 2%;
	top: 0;
	z-index: 1;
	opacity: 0.9;
}

#work_content {
	max-width: 50%;
	height: 100%;
	position: relative;
	margin: 60px auto 0;
}

.work_title {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 72px;
	text-align: left;
	color: $font-color;
	margin-top: 260px;
}

.work_type {
	color: #666;
	text-align: left;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	margin-top: 20px;
	margin-bottom: 240px;
}

.process_title {
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 24px;
	text-align: left;
	color: $font-color;
	text-transform: capitalize;
	margin-bottom: 40px;
}

.process_text {
	color: #666;
	text-align: left;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 30px;
	margin-top: 0;
	margin-bottom: 60px;
}

#images {
	max-width: 80%;
	height: 100%;
	position: relative;
	margin: 0 auto;
}

#images img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
}

.footer_work_back {
	text-align: center;
	padding: 80px 0;
}

.work_btn {
	color: $font-color;
	display: inline-block;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 600;
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	cursor: pointer;
}

.work_btn:hover {
	color: $font-color;
	text-decoration: line-through;
}

video {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	overflow: hidden;
}

.video {
	padding-bottom: 10px;
	overflow: hidden;
}

.space {
	margin-bottom: 40px;
}
@media screen and (max-width:768px) {
	#arrows {
		display: none;
	}

	#header_work {
		height: 30px;
	}

	#work_content {
		max-width: 90%;
		margin-top: 60px;
	}

	.work_title {
		font-size: 60px;
		margin-top: 130px;
	}

	.work_type {
		margin-top: 0;
		margin-bottom: 120px;
	}

	#images {
		max-width: 100%;
		height: 100%;
		position: relative;
		margin: 20px auto 0;
	}

	#images img {
		max-width: 100%;
	}

	.footer_work_back {
		text-align: center;
		padding: 80px 0;
	}
}
@media screen and (min-width:769px) {
	.footer_mobile {
		display: none;
	}
}
@media only screen and (min-width :1824px) {
#logo_center{
	width:95px;
}

	#header_work {
		height: 70px;
		padding-top: 2%;
	}

	#work_content {
		max-width: 34%;
	}

	.work_title {
		font-size: 130px;
		margin-top: 300px;
	}

	.work_type {
		font-size: 32px;
		line-height: 44px;
		margin-top: 40px;
		margin-bottom: 300px;
	}

	.process_title {
		font-size: 32px;
	}

	.process_text {
		font-size: 24px;
		line-height: 42px;
		margin-top: 40px;
		margin-bottom: 120px;
	}

	#images {
		max-width: 100%;
	}

	.footer_work_back {
		padding: 140px 0;
	}

	.work_btn {
		font-size: 20px;
	}

	#arrows {
		margin-top: 13%;
	}

	.arrow_previous {
		width: 60px;
		height: 120px;
		background-size: 60px 120px;
	}

	.arrow_previous:hover {
		background-size: 165px 120px;
		width: 165px;
		height: 120px;
	}

	.arrow_next {
		width: 60px;
		height: 120px;
		background-size: 60px 120px;
	}

	.arrow_next:hover {
		background-size: 165px 120px;
		width: 165px;
		height: 120px;
	}
}
/* FADE IN LEFT */
.animated {
	-webkit-animation-duration: 0.8s;
	animation-duration: 0.8s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(30px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}
/* Aside */
aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0 1px 1px RGBA(4, 25, 54, .1);

	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;

		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				float: left;
				position: relative;

				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;

					&:active,
					&:hover {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

footer {
	text-align: right;
	font-size: 12px;
	padding: 20px 40px;
	background: #ffffff;
	margin-top: 100px;
	color: #333;

	a {
		color: #333;
	}

	a:hover {
		color: $main;
	}

	p {
		width: 75%;
		margin: 0 auto;
	}
}

.modal-content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	clear: both;
}
/*.case-img{
  /width:60%;
  margin-right:50px;
  float: left;
  margin: 0 auto;
}*/
.case-img img{
  width:100%;
}
.case-copy {
	font-size: 12px;
}
.case-copy a{
	color: #333;
	font-weight:normal;
}

.modal {
	background: white !important;
}

.close-container {
	position: relative;
	margin: 25px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.leftright {
	height: 3px;
	width: 50px;
	position: absolute;
	margin-top: 24px;
	background-color: #333;
	transform: rotate(45deg);
	transition: all 0.3s ease-in;
}

.rightleft {
	height: 3px;
	width: 50px;
	position: absolute;
	margin-top: 24px;
	background-color: #333;
	transform: rotate(-45deg);
	transition: all 0.3s ease-in;
}

label {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 0.3s ease-in;
	opacity: 0;
}

.close {
	margin: 60px 0 0 5px;
	position: absolute;
}

.close-container:hover .leftright {
	transform: rotate(-45deg);
	background-color: #0066FF;
	-webkit-transition-duration: 0.2s;
	/* Safari */
	transition-duration: 0.2s;
}

.close-container:hover .rightleft {
	transform: rotate(45deg);
	-webkit-transition-duration: 0.2s;
	/* Safari */
	transition-duration: 0.2s;
	background-color: #0066FF;
}

.close-container:hover label {
	opacity: 1;
}

.btn-close-modal {
	float: right;
	text-align: center;
	cursor: pointer;
	color: #fff;
}

.modal-logo {
	float: left;
	margin: 25px;
}

.modal-logo img {
	width: 50px;
}

.modal-header {
	width: 90%;
	margin: 0 auto;
	/* float: left; */
	margin-bottom: 125px;
}

.case-copy p {
	vertical-align: top;
	color: #888;
	font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.8em;
}
	.view-link {
		margin: 50px 0;

		a {
			padding: 12px 50px;
			border: 1px solid #f2f2f2;
			color: $main;
		}

		a:hover {
			background: $main;
			color: #fff;
			@include transition(all 0.3s);
		}
	}

	.arrow {
		text-align: center;
		margin: 13% 0 0;
	}

	.bounce {
		-webkit-animation: bounce 2s infinite;
		animation: bounce 2s infinite;
	}
	@-webkit-keyframes bounce {
		0%,
		40% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}

		40% {
			-webkit-transform: translateY(-15px);
			transform: translateY(-15px);
		}
	}
	@keyframes bounce {
		0%,
		40% {
			-webkit-transform: translateY(0);
			transform: translateY(0);
		}

		40% {
			-webkit-transform: translateY(-15px);
			transform: translateY(-15px);
		}
	}

	.go-next-label {
		font-size: 0.875em;
		padding-bottom: 5px;
		color: #c2c2c2 !important;
	}

	.arrow-1 {
		height: 15px;
		width: 15px;
		border: 1px solid #0066FF;
		border-width: 2px 2px 0 0;
		transform: rotate(135deg);
		text-align: center;
		margin: auto;
	}
	.menu--prospero .menu__link {
	position: relative;
	display: block;
	margin: 0 1.5em;
	padding: 0.75em 0;
	text-align: center;

	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.menu--prospero .menu__link:hover,
.menu--prospero .menu__link:focus {
	color: $main;
}

.menu--prospero .menu__item--current .menu__link {
	color: #d94f5c;
}

.menu--prospero .menu__link::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: $main;
	-webkit-transform: scale3d(0, 1, 1);
	transform: scale3d(0, 1, 1);
	-webkit-transition: -webkit-transform 0.1s;
	transition: transform 0.1s;
}

.menu--prospero .menu__item .menu__link:hover:before {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
	@import "browsercycle";
